
// Fonts
@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans+Condensed:300,700|Open+Sans:300,400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*font-family: 'Monoton', cursive;

font-family: 'Open Sans Condensed', sans-serif;

font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: $black;
}

p {
	font-weight: 400;
}

.ui .button {
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 100px;
	padding: 9px 18px 9px 18px;
	background-color: transparent;
	width: 120px;
	font-size: 14px;
	border: 2px solid $gray;
	color: #B4B4B4;
	@include transition(.2s);
}

.ui .button:hover {
	background-color: transparent;
	border: 2px solid $pink;
	color: $pink;
}

.ui .button:active {
	opacity: 0.8;
}

.sort-menu .sort-active {
	border: 2px solid $pink;
	color: $pink;
}

.ui .card {
	border: 2px solid $gray;
	border-radius: 5px;
	box-shadow: none;
	width: 340px;
	height: 400px;
	margin: 0;
	flex-grow: 1;
	margin: 0px 20px 20px 0px;
	/*max-width: 500px;*/
}

.ui .card:hover {
	/*opacity: 0.5;*/
}

.ui .card .content .description {
	height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui .card .extra {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 30%;
		font-weight: 700;
		color: #C6C6C6;
	}
}

.ui.card .extra, .ui.cards .card .extra {
	border-top: none !important;
}

.shares {
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 100px;
	padding: 9px 18px 9px 18px;
	background-color: $white;
	width: 50%;
	height: 30px;
	font-size: 14px;
	border: 2px solid $pink;
	color: $pink;
	margin: 0 auto;
	margin-top: -30px;
	margin-bottom: -10px;
	box-shadow: 0 1px 0 5px $white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.card-image-wrap {
	width: 100%;
	height: 200px;
	background-color: black;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: auto;
	}
}

.top-bar {
	width: 100%;
	height: 60px;
/*	background-color: black;*/

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-bar .top-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.facebook {
	margin-left: auto;
}

.logo {
	color: $pink;

	p {
		font-family: 'Monoton', cursive;
	    font-size: 30px;
	    display: flex;
		align-items: center;
	    
	    span {
	    	color: $black;
	    	font-size: 18px;
	    	margin-right: 5px;
	    }
	}
}

.header-image {
	width: 100%;
	height: 150px;
	overflow: hidden;
	display: flex;
	align-items: center;
	/*flex-direction: row;*/
	position: relative;

	img {
		width: 100%;
		height: auto;
	}
	
	.header-text {
		width: 100%;
		height: 150px;
		top: 0;
		background-color: $overlay;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;

		h2 {
			color: $white;
		}
	}
}

.sort-menu {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 50px 0px 50px 0px;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px -20px 0px 0px;
}

.ui.button.load-more {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.footer {
	width: 100%;
	height: 300px;
	background-color: $gray;
	margin-top: 50px;
}
