
// Fonts
@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans+Condensed:300,700|Open+Sans:300,400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*font-family: 'Monoton', cursive;

font-family: 'Open Sans Condensed', sans-serif;

font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: $black;
}

p {
	font-weight: 400;
	color: $black;
}

.ui .button {
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 100px;
	padding: 9px 10px 9px 10px;
	background-color: $white;
	width: 120px;
	height: 40px;
	font-size: 14px;
	border: 2px solid $gray;
	color: #CFD0D6;
	/*color: $pink;*/
	@include transition(.2s);
}

.ui .button:hover {
	background-color: $pink;
	border: 2px solid $pink;
	color: $white;
}

.ui .button:active {
	opacity: 0.8;
}

.sort-menu .sort-active {
	border: 2px solid $pink;
	background-color: $pink;
	color: $white;
}

.ui .card {
	border: 2px solid $gray;
	border-radius: 5px;
	box-shadow: none;
	width: 300px;
	height: 380px;
	margin: 0;
	flex-grow: 1;
	margin: 0px 40px 40px 0px;
	/*max-width: 500px;*/

	h3 {
		margin-bottom: 10px;
		height: 80px;
		overflow: hidden;
	}

	.price {
			display: flex;
			width: 100%;
			justify-content: center;
			margin-top: 20px;

			h1 {
				color: #E2303E;
			}
	}
}

.ui.floating.label.price-tag {
	font-size: 16px; 
	background-color: $pink; 
	color: $white;
}

.ui.floating.label {
	margin: 0 0 0 -3.0em !important;
	top: -1.0em;
}

.ui .card:hover {
	/*opacity: 0.5;*/
}

.ui .card .content .description {
	height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui .card .extra {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	/*div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 30%;
		font-weight: 700;
		color: #C6C6C6;
	}*/
	/*height: 55px;*/

	.ui.button {
		width: 50%;
		padding-top: 11px;
	}
}

.ui.button.amazon-btn:hover {
	/*background-color: #374B61;*/
	color: $white;
}

.ui.card .extra, .ui.cards .card .extra {
	border-top: none !important;
}

.shares {
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 100px;
	padding: 9px 18px 9px 18px;
	background-color: $white;
	width: 50%;
	height: 40px;
	font-size: 14px;
	border: 2px solid $gray;
	color: $pink;
	margin: 0 auto;
	margin-top: -30px;
	margin-bottom: -10px;
	box-shadow: 0 1px 0 5px $white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.card-image-wrap {
	width: 100%;
	height: 200px;
	background-color: black;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: auto;
	}
}

.top-bar {
	width: 100%;
	height: 60px;
/*	background-color: black;*/

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-bar .top-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.facebook {
	margin-left: auto;
}

.logo {
	color: $pink;

	p {
		font-family: 'Monoton', cursive;
	    font-size: 30px;
	    display: flex;
		align-items: center;
		color: $pink;
	    
	    span {
	    	color: #858585;
	    	font-size: 18px;
	    	margin-right: 5px;
	    }
	}
}

.header-image {
	width: 100%;
	height: 150px;
	overflow: hidden;
	display: flex;
	align-items: center;
	/*flex-direction: row;*/
	position: relative;

	img {
		width: 100%;
		height: auto;
	}
	
	.header-text {
		width: 100%;
		height: 150px;
		top: 0;
		background-color: $overlay;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;

		h2 {
			color: $white;
			text-align: center;
		}
	}
}

.sort-menu {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 50px 0px 50px 0px;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px -40px 0px 0px;
}

.ui.button.load-more {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.footer {
	width: 100%;
	height: 300px;
	background-color: $gray;
	margin-top: 50px;
}

.big-image {
	width: 100%;
	height: 300px;
	background-color: $gray;
	border-radius: 5px;
	margin-top: 50px;
	overflow: hidden;
	border: 2px solid $gray;
	position: relative;

		img {
			width: 100%;
			height: auto;
		}
}

.big-image-overlay {
	width: 100%;
	height: 100%;
	/*background-color: $detail-overlay;*/
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.big-image-img {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: blur(10px);
}

.ui.card.detail-card {
	align-items: center;
	/*margin-left: 50px;*/
	margin: 0 auto;
	margin-top: -219px;
	margin-bottom: 70px;
	width: 500px;

	.ui.button.amazon-btn {
		height: 50px;
	}

	.content {
		width: 100%;

		.shares {
			width: 200px;
		}

		.price {
			display: flex;
			width: 100%;
			justify-content: center;
			margin-top: 20px;

			h1 {
				color: #E2303E;
			}
		}
	}
}

.ui.card.detail-card .content {
	height: 110px;

	.ui.button {
		width: 100%;
		padding-top: 9px;
	}	
}

.card-image-wrap.detail-card-image-wrap {
	height: 100%;
}

.shares.detail-shares {
	/*margin-top: -100px;*/
}

.detail-description {
	margin-bottom: 70px;
}

.reviews {
	border: none;
	width: 100%;
	height: 700px;
	border-radius: 5px;
	border: 2px solid $gray;
	position: relative;
}
